## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv (r'C:\Users\genei\Dropbox\PC\Documents\Data_Analystics\Module_Activity\Module6_WeatherPy_Python_APIs\World_Weather_Analysis\Weather_Database\WeatherPy_Database.csv')
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Hualmay,PE,-11.0964,-77.6139,67.64,82,99,8.41,overcast clouds
1,1,Ushuaia,AR,-54.8000,-68.3000,47.86,81,75,14.97,light rain
2,2,Kavieng,PG,-2.5744,150.7967,81.46,80,100,14.20,moderate rain
3,3,Hasaki,JP,35.7333,140.8333,61.20,80,95,21.30,overcast clouds
4,4,Bethel,US,41.3712,-73.4140,52.38,77,90,8.01,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
client_preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
client_preferred_cities_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Kavieng,PG,-2.5744,150.7967,81.46,80,100,14.20,moderate rain
15,15,Vaini,TO,-21.2000,-175.2000,82.56,83,20,9.22,few clouds
22,22,Isugod,PH,9.3408,118.1196,84.27,64,32,4.90,scattered clouds
23,23,Biak,ID,-0.9131,122.8766,83.48,70,100,2.15,overcast clouds
26,26,Touros,BR,-5.1989,-35.4608,77.90,76,26,12.80,scattered clouds

In [5]:
len(client_preferred_cities_df)

185

In [6]:
# 4a. Determine if there are any empty rows.
client_preferred_cities_df.count()

City_ID                185
City                   185
Country                185
Lat                    185
Lng                    185
Max Temp               185
Humidity               185
Cloudiness             185
Wind Speed             185
Current Description    185
dtype: int64

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = client_preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Kavieng,PG,81.46,moderate rain,-2.5744,150.7967,
15,Vaini,TO,82.56,few clouds,-21.2000,-175.2000,
22,Isugod,PH,84.27,scattered clouds,9.3408,118.1196,
23,Biak,ID,83.48,overcast clouds,-0.9131,122.8766,
26,Touros,BR,77.90,scattered clouds,-5.1989,-35.4608,
27,Hilo,US,76.73,moderate rain,19.7297,-155.0900,
37,Flic En Flac,MU,81.52,clear sky,-20.2742,57.3631,
38,Alofi,NU,75.09,light intensity shower rain,-19.0595,-169.9187,
49,Cabedelo,BR,77.67,clear sky,-6.9811,-34.8339,
53,Kavaratti,IN,80.28,clear sky,10.5669,72.6420,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
hotel_df

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Kavieng,PG,81.46,moderate rain,-2.5744,150.7967,Nusa Island Retreat
15,Vaini,TO,82.56,few clouds,-21.2000,-175.2000,Keleti Beach Resort
22,Isugod,PH,84.27,scattered clouds,9.3408,118.1196,
23,Biak,ID,83.48,overcast clouds,-0.9131,122.8766,Penginapan Kim
26,Touros,BR,77.90,scattered clouds,-5.1989,-35.4608,INN NEW HORIZON
...,...,...,...,...,...,...,...
694,Kendari,ID,86.76,overcast clouds,-3.9450,122.4989,Hotel Wixel
697,Dingle,PH,81.41,overcast clouds,10.9995,122.6711,SEGAYA PROPERTY
698,Gold Coast,AU,86.16,overcast clouds,-28.0000,153.4333,Mantra Towers of Chevron Surfers Paradise
700,Okitipupa,NG,76.03,overcast clouds,6.5047,4.7839,Coastal Hotel & Suites
701,Aden,YE,78.35,few clouds,12.7794,45.0367,Sama Emirate Hotel

In [10]:
import numpy as np

In [11]:
# Replace any empty strings in the Hotel Name column with np.nan objects

hotel_df['Hotel Name'].replace('', np.nan, inplace=True)
hotel_df.head(15)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Kavieng,PG,81.46,moderate rain,-2.5744,150.7967,Nusa Island Retreat
15,Vaini,TO,82.56,few clouds,-21.2000,-175.2000,Keleti Beach Resort
22,Isugod,PH,84.27,scattered clouds,9.3408,118.1196,NaN
23,Biak,ID,83.48,overcast clouds,-0.9131,122.8766,Penginapan Kim
26,Touros,BR,77.90,scattered clouds,-5.1989,-35.4608,INN NEW HORIZON
27,Hilo,US,76.73,moderate rain,19.7297,-155.0900,Hilo Hawaiian Hotel
37,Flic En Flac,MU,81.52,clear sky,-20.2742,57.3631,Hilton Mauritius Resort & Spa
38,Alofi,NU,75.09,light intensity shower rain,-19.0595,-169.9187,Taloa Heights
49,Cabedelo,BR,77.67,clear sky,-6.9811,-34.8339,Hotel Pigalle
53,Kavaratti,IN,80.28,clear sky,10.5669,72.6420,Hotels in Lakshadweep Islands
57,Edd,ER,78.42,clear sky,13.9297,41.6925,NaN
62,Champerico,GT,80.04,few clouds,14.3000,-91.9167,"Hotel y restaurante ""El Diamante"""
63,Mahebourg,MU,81.25,light rain,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
70,Georgetown,MY,85.95,few clouds,5.4112,100.3354,Cititel Penang
71,Avarua,CK,82.45,moderate rain,-21.2078,-159.7750,Paradise Inn

In [12]:
# 7. Drop the rows where there is no Hotel Name.

hotel_df.dropna(subset=['Hotel Name'], inplace=True)
hotel_df.head(15)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Kavieng,PG,81.46,moderate rain,-2.5744,150.7967,Nusa Island Retreat
15,Vaini,TO,82.56,few clouds,-21.2000,-175.2000,Keleti Beach Resort
23,Biak,ID,83.48,overcast clouds,-0.9131,122.8766,Penginapan Kim
26,Touros,BR,77.90,scattered clouds,-5.1989,-35.4608,INN NEW HORIZON
27,Hilo,US,76.73,moderate rain,19.7297,-155.0900,Hilo Hawaiian Hotel
37,Flic En Flac,MU,81.52,clear sky,-20.2742,57.3631,Hilton Mauritius Resort & Spa
38,Alofi,NU,75.09,light intensity shower rain,-19.0595,-169.9187,Taloa Heights
49,Cabedelo,BR,77.67,clear sky,-6.9811,-34.8339,Hotel Pigalle
53,Kavaratti,IN,80.28,clear sky,10.5669,72.6420,Hotels in Lakshadweep Islands
62,Champerico,GT,80.04,few clouds,14.3000,-91.9167,"Hotel y restaurante ""El Diamante"""
63,Mahebourg,MU,81.25,light rain,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
70,Georgetown,MY,85.95,few clouds,5.4112,100.3354,Cititel Penang
71,Avarua,CK,82.45,moderate rain,-21.2078,-159.7750,Paradise Inn
75,Port Blair,IN,82.44,scattered clouds,11.6667,92.7500,"Welcomhotel By ITC Hotels, Bay Island, Port Blair"
76,Rikitea,PF,76.48,few clouds,-23.1203,-134.9692,People ThankYou

In [14]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [15]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [16]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))